{# {% extends "base.html.twig" %} #}

{# {% block body %} #}

<h1>Access Denied</h1>

{# {% if is_granted('ROLE_COORDINATOR') %} #}
    <a href="{{ path('home') }}">Home</a>
{# {% elseif is_granted('ROLE_STUDENT') %}
    <a href="{{ path('app_register') }}">Re</a>     #}
{# {% endif %} #}

{# {% endblock %} #}
