{% extends "base.html.twig" %}

{% block title %}
	{{ class.name }}
{% endblock %}

{% block body %}
	<h1>{{ class.name }}</h1>
	<h4>Section:
		<span class="fw-normal">{{ class.section }}</span></h4>
	<hr>
	<a href={{ path('class_list') }}>Go Back</a>
{% endblock %}
