{% extends "base.html.twig" %}

{% block title %}Edit Course Details
{% endblock %}

{% block body %}
	{{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}
	<hr>
	<a href={{ path('course_list') }}>Go Back</a>
{% endblock %}
