{% extends "inc/studentIndex.html.twig" %}

{% block title %}Edit Student Details
{% endblock %}

{% block body %}
	{{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}
	<hr>
	<a href={{ path('student_list') }}>Go Back</a>
{% endblock %}
